In [44]:
#pd.options.display.max_rows=3844 
#pd.set_option('display.float_format', lambda x: '%.10f' % x)

import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import io

import pycountry_convert as pc

from sklearn.preprocessing import LabelEncoder, MinMaxScaler
from sklearn.ensemble import RandomForestClassifier
from sklearn.model_selection import StratifiedKFold
from pandas import set_option

from sklearn.preprocessing import StandardScaler
from sklearn.model_selection import train_test_split
from sklearn.model_selection import KFold
from sklearn.model_selection import StratifiedKFold
from sklearn.model_selection import cross_val_score
from sklearn.model_selection import GridSearchCV
from sklearn.metrics import classification_report
from sklearn.metrics import confusion_matrix
from sklearn.metrics import accuracy_score
from sklearn.pipeline import Pipeline
from sklearn.tree import DecisionTreeClassifier
from sklearn.neighbors import KNeighborsClassifier
from sklearn.naive_bayes import GaussianNB
from sklearn.svm import SVC
from sklearn.ensemble import AdaBoostClassifier
from sklearn.ensemble import GradientBoostingClassifier
from sklearn.ensemble import RandomForestClassifier
from sklearn.ensemble import ExtraTreesClassifier
from sklearn.linear_model import LogisticRegression


pd.set_option('display.float_format', lambda x: '%.3f' % x)
pd.options.display.float_format = "{:,.2f}".format

In [45]:
import sys
sys.path.insert(0, 'C:/Users/fruto/OneDrive/Escritorio/DATA SCIENCE COURSE/Funtions')
from MY_FUNCTION_EDA import *

In [46]:
pd.set_option('display.float_format', lambda x: '%.3f' % x)
data1 = pd.read_excel('../dataset/Sustainable_Development (8).xlsx')
data1

,country,year,TOT_EF,HDI,TOT_Biocapacity,Population,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,Unnamed: 10,Unnamed: 11,Unnamed: 12
0,Afghanistan,1996,11844024.570,0.33,11417157.950,17822900.000,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Afghanistan,1997,12690469.540,0.34,11831947.380,18381600.000,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Afghanistan,1998,13376841.840,0.34,12219804.780,18864000.000,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Afghanistan,1999,13987744.470,0.34,11637181.560,19403700.000,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Afghanistan,2000,12742694.740,0.34,9989896.314,20093800.000,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...
2302,Zimbabwe,2012,17172479.120,0.52,8527822.153,15054500.000,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2303,Zimbabwe,2013,16979516.260,0.53,8287793.350,15411700.000,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2304,Zimbabwe,2014,16590635.110,0.54,8222158.878,15777500.000,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2305,Zimbabwe,2015,16882569.210,0.54,7775710.313,16150400.000,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2306,Zimbabwe,2016,17338109.820,0.55,8093698.372,16523300.000,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [47]:
data1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2307 entries, 0 to 2306
Data columns (total 13 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   country          2307 non-null   object
 1   year             2307 non-null   int64
 2   TOT_EF           2307 non-null   float64
 3   HDI              2307 non-null   object
 4   TOT_Biocapacity  2307 non-null   float64
 5   Population       2305 non-null   float64
 6   Unnamed: 6       0 non-null      float64
 7   Unnamed: 7       0 non-null      float64
 8   Unnamed: 8       0 non-null      float64
 9   Unnamed: 9       0 non-null      float64
 10  Unnamed: 10      0 non-null      float64
 11  Unnamed: 11      0 non-null      float64
 12  Unnamed: 12      0 non-null      float64
dtypes: float64(10), int64(1), object(2)
memory usage: 234.4+ KB

In [48]:
data1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2307 entries, 0 to 2306
Data columns (total 13 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   country          2307 non-null   object
 1   year             2307 non-null   int64
 2   TOT_EF           2307 non-null   float64
 3   HDI              2307 non-null   object
 4   TOT_Biocapacity  2307 non-null   float64
 5   Population       2305 non-null   float64
 6   Unnamed: 6       0 non-null      float64
 7   Unnamed: 7       0 non-null      float64
 8   Unnamed: 8       0 non-null      float64
 9   Unnamed: 9       0 non-null      float64
 10  Unnamed: 10      0 non-null      float64
 11  Unnamed: 11      0 non-null      float64
 12  Unnamed: 12      0 non-null      float64
dtypes: float64(10), int64(1), object(2)
memory usage: 234.4+ KB

In [49]:
data1['Population'] = data1['Population'].apply('{:,}'.format)
data1['TOT_Biocapacity'] = data1['TOT_Biocapacity'].apply('{:,}'.format)
data1['TOT_EF'] = data1['TOT_EF'].apply('{:,}'.format)

In [50]:
data1 = data1.drop(['Unnamed: 6','Unnamed: 7','Unnamed: 8','Unnamed: 9','Unnamed: 10','Unnamed: 11','Unnamed: 12'], axis=1)
data1

          country  year         TOT_EF   HDI TOT_Biocapacity    Population
0     Afghanistan  1996  11,844,024.57  0.33   11,417,157.95  17,822,900.0
1     Afghanistan  1997  12,690,469.54  0.34   11,831,947.38  18,381,600.0
2     Afghanistan  1998  13,376,841.84  0.34   12,219,804.78  18,864,000.0
3     Afghanistan  1999  13,987,744.47  0.34   11,637,181.56  19,403,700.0
4     Afghanistan  2000  12,742,694.74  0.34   9,989,896.314  20,093,800.0
...           ...   ...            ...   ...             ...           ...
2302     Zimbabwe  2012  17,172,479.12  0.52   8,527,822.153  15,054,500.0
2303     Zimbabwe  2013  16,979,516.26  0.53    8,287,793.35  15,411,700.0
2304     Zimbabwe  2014  16,590,635.11  0.54   8,222,158.878  15,777,500.0
2305     Zimbabwe  2015  16,882,569.21  0.54   7,775,710.313  16,150,400.0
2306     Zimbabwe  2016  17,338,109.82  0.55   8,093,698.372  16,523,300.0

[2307 rows x 6 columns]

In [51]:
df = data1.rename(columns={'Country Name':'country', 'EFConsPerCap':'TOT_EF'}, inplace= False)
df

          country  year         TOT_EF   HDI TOT_Biocapacity    Population
0     Afghanistan  1996  11,844,024.57  0.33   11,417,157.95  17,822,900.0
1     Afghanistan  1997  12,690,469.54  0.34   11,831,947.38  18,381,600.0
2     Afghanistan  1998  13,376,841.84  0.34   12,219,804.78  18,864,000.0
3     Afghanistan  1999  13,987,744.47  0.34   11,637,181.56  19,403,700.0
4     Afghanistan  2000  12,742,694.74  0.34   9,989,896.314  20,093,800.0
...           ...   ...            ...   ...             ...           ...
2302     Zimbabwe  2012  17,172,479.12  0.52   8,527,822.153  15,054,500.0
2303     Zimbabwe  2013  16,979,516.26  0.53    8,287,793.35  15,411,700.0
2304     Zimbabwe  2014  16,590,635.11  0.54   8,222,158.878  15,777,500.0
2305     Zimbabwe  2015  16,882,569.21  0.54   7,775,710.313  16,150,400.0
2306     Zimbabwe  2016  17,338,109.82  0.55   8,093,698.372  16,523,300.0

[2307 rows x 6 columns]

In [52]:
#adding continent name
import pycountry_convert as pc
def country_to_continent(country_name):
    try:
        country_alpha2 = pc.country_name_to_country_alpha2(country_name)
        country_continent_code = pc.country_alpha2_to_continent_code(country_alpha2)
        country_continent_name = pc.convert_continent_code_to_continent_name(country_continent_code)
    except:
        country_continent_name = 'Not assigned'
    return country_continent_name

df['Continent'] = df['country'].apply(lambda x:country_to_continent(x))
df[df['Continent'] == 'Not assigned']
df.head()

,country,year,TOT_EF,HDI,TOT_Biocapacity,Population,Continent
0,Afghanistan,1996,"11,844,024.57",0.33,"11,417,157.95","17,822,900.0",Asia
1,Afghanistan,1997,"12,690,469.54",0.34,"11,831,947.38","18,381,600.0",Asia
2,Afghanistan,1998,"13,376,841.84",0.34,"12,219,804.78","18,864,000.0",Asia
3,Afghanistan,1999,"13,987,744.47",0.34,"11,637,181.56","19,403,700.0",Asia
4,Afghanistan,2000,"12,742,694.74",0.34,"9,989,896.314","20,093,800.0",Asia

In [53]:
df.duplicated()

0       False
1       False
2       False
3       False
4       False
        ...
2302    False
2303    False
2304    False
2305    False
2306    False
Length: 2307, dtype: bool

In [54]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2307 entries, 0 to 2306
Data columns (total 7 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   country          2307 non-null   object
 1   year             2307 non-null   int64
 2   TOT_EF           2307 non-null   object
 3   HDI              2307 non-null   object
 4   TOT_Biocapacity  2307 non-null   object
 5   Population       2307 non-null   object
 6   Continent        2307 non-null   object
dtypes: int64(1), object(6)
memory usage: 126.3+ KB

In [55]:
df['HDI'] = df.HDI.apply(pd.to_numeric, errors='coerce')
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2307 entries, 0 to 2306
Data columns (total 7 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   country          2307 non-null   object
 1   year             2307 non-null   int64
 2   TOT_EF           2307 non-null   object
 3   HDI              2305 non-null   float64
 4   TOT_Biocapacity  2307 non-null   object
 5   Population       2307 non-null   object
 6   Continent        2307 non-null   object
dtypes: float64(1), int64(1), object(5)
memory usage: 126.3+ KB

In [56]:
df.Continent.unique()

array(['Asia', 'Europe', 'Africa', 'South America', 'Oceania',
       'North America'], dtype=object)

In [62]:
df.to_excel('../dataset/C.Population.xlsx',index=False)