In [1]:
from jupyter_dash import JupyterDash

In [5]:
import dash
import dash_core_components as dcc
import dash_html_components as html
import pandas as pd
import plotly.express as px
from jupyter_dash import JupyterDash
from dash.dependencies import Input, Output


import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import io
import chart_studio
import chart_studio.plotly as cspy
username = 'anafrutos' # your username
api_key = 'TwP6MMXuuqkuqGglBoql' 
chart_studio.tools.set_credentials_file(username='anafrutos', api_key='TwP6MMXuuqkuqGglBoql')

pd.set_option('display.float_format', lambda x: '%.3f' % x)
pd.options.display.float_format = "{:,.2f}".format

In [7]:
JupyterDash.infer_jupyter_proxy_config()

In [11]:
data = pd.read_excel('../dataset/nfa_year.xlsx')
data

,country,year,record,crop_land,grazing_land,forest_land,fishing_ground,built_up_land,carbon,total,Continent
0,Armenia,1996,BiocapTotGHA,"604,606.62","538,873.18","289,618.23","47,014.82","110,993.95",0.00,"1,591,106.80",Asia
1,Armenia,1996,EFConsTotGHA,"1,383,480.58","708,381.32",53.01,"9,740.27","110,993.95","1,059,296.79","3,271,945.92",Asia
2,Armenia,1997,BiocapTotGHA,"476,395.51","561,572.69","289,313.19","46,997.87","87,876.61",0.00,"1,462,155.86",Asia
3,Armenia,1997,EFConsTotGHA,"1,227,984.94","810,583.94","29,536.20","10,868.49","87,876.61","1,283,874.98","3,450,725.15",Asia
4,Armenia,1998,BiocapTotGHA,"594,089.68","562,286.11","289,210.92","47,001.22","109,835.86",0.00,"1,602,423.78",Asia
...,...,...,...,...,...,...,...,...,...,...,...
5280,China,2014,EFConsTotGHA,"821,581,170.70","197,956,304.80","281,883,076.00","118,893,447.10","170,144,028.80","3,650,357,703.00","5,240,815,731.00",Asia
5281,China,2015,BiocapTotGHA,"682,473,730.60","146,395,194.30","315,461,298.70","61,537,573.07","158,538,133.90",0.00,"1,364,405,931.00",Asia
5282,China,2015,EFConsTotGHA,"862,590,137.10","196,395,053.90","272,604,098.60","118,717,833.40","158,538,133.90","3,619,613,216.00","5,228,458,472.00",Asia
5283,China,2016,BiocapTotGHA,"687,406,250.20","146,586,665.30","317,478,924.10","61,618,206.11","160,538,830.60",0.00,"1,373,628,876.00",Asia
5284,China,2016,EFConsTotGHA,"853,948,476.80","201,502,265.60","289,467,130.50","112,386,522.40","160,538,830.60","3,578,043,158.00","5,195,886,384.00",Asia

In [12]:
data['year'] = pd.to_datetime(data['year'], format='%Y')
data

,country,year,record,crop_land,grazing_land,forest_land,fishing_ground,built_up_land,carbon,total,Continent
0,Armenia,1996-01-01,BiocapTotGHA,"604,606.62","538,873.18","289,618.23","47,014.82","110,993.95",0.00,"1,591,106.80",Asia
1,Armenia,1996-01-01,EFConsTotGHA,"1,383,480.58","708,381.32",53.01,"9,740.27","110,993.95","1,059,296.79","3,271,945.92",Asia
2,Armenia,1997-01-01,BiocapTotGHA,"476,395.51","561,572.69","289,313.19","46,997.87","87,876.61",0.00,"1,462,155.86",Asia
3,Armenia,1997-01-01,EFConsTotGHA,"1,227,984.94","810,583.94","29,536.20","10,868.49","87,876.61","1,283,874.98","3,450,725.15",Asia
4,Armenia,1998-01-01,BiocapTotGHA,"594,089.68","562,286.11","289,210.92","47,001.22","109,835.86",0.00,"1,602,423.78",Asia
...,...,...,...,...,...,...,...,...,...,...,...
5280,China,2014-01-01,EFConsTotGHA,"821,581,170.70","197,956,304.80","281,883,076.00","118,893,447.10","170,144,028.80","3,650,357,703.00","5,240,815,731.00",Asia
5281,China,2015-01-01,BiocapTotGHA,"682,473,730.60","146,395,194.30","315,461,298.70","61,537,573.07","158,538,133.90",0.00,"1,364,405,931.00",Asia
5282,China,2015-01-01,EFConsTotGHA,"862,590,137.10","196,395,053.90","272,604,098.60","118,717,833.40","158,538,133.90","3,619,613,216.00","5,228,458,472.00",Asia
5283,China,2016-01-01,BiocapTotGHA,"687,406,250.20","146,586,665.30","317,478,924.10","61,618,206.11","160,538,830.60",0.00,"1,373,628,876.00",Asia
5284,China,2016-01-01,EFConsTotGHA,"853,948,476.80","201,502,265.60","289,467,130.50","112,386,522.40","160,538,830.60","3,578,043,158.00","5,195,886,384.00",Asia

In [13]:
data.to_excel('../dataset/nfa_year_cleaned.xlsx',index=False)

In [15]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5285 entries, 0 to 5284
Data columns (total 11 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   country         5285 non-null   object
 1   year            5285 non-null   datetime64[ns]
 2   record          5285 non-null   object
 3   crop_land       5285 non-null   float64
 4   grazing_land    5285 non-null   float64
 5   forest_land     5285 non-null   float64
 6   fishing_ground  5285 non-null   float64
 7   built_up_land   5285 non-null   float64
 8   carbon          5285 non-null   float64
 9   total           5285 non-null   float64
 10  Continent       5285 non-null   object
dtypes: datetime64[ns](1), float64(7), object(3)
memory usage: 454.3+ KB