In [1]:
#pd.options.display.max_rows=72186
#pd.set_option('display.float_format', lambda x: '%.10f' % x)



import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import io

import pycountry_convert as pc

from sklearn.preprocessing import LabelEncoder, MinMaxScaler
from sklearn.ensemble import RandomForestClassifier
from sklearn.model_selection import StratifiedKFold
from pandas import set_option

from sklearn.preprocessing import StandardScaler
from sklearn.model_selection import train_test_split
from sklearn.model_selection import KFold
from sklearn.model_selection import StratifiedKFold
from sklearn.model_selection import cross_val_score
from sklearn.model_selection import GridSearchCV
from sklearn.metrics import classification_report
from sklearn.metrics import confusion_matrix
from sklearn.metrics import accuracy_score
from sklearn.pipeline import Pipeline
from sklearn.tree import DecisionTreeClassifier
from sklearn.neighbors import KNeighborsClassifier
from sklearn.naive_bayes import GaussianNB
from sklearn.svm import SVC
from sklearn.ensemble import AdaBoostClassifier
from sklearn.ensemble import GradientBoostingClassifier
from sklearn.ensemble import RandomForestClassifier
from sklearn.ensemble import ExtraTreesClassifier
from sklearn.linear_model import LogisticRegression


pd.set_option('display.float_format', lambda x: '%.3f' % x)
pd.options.display.float_format = "{:,.2f}".format

In [2]:
import sys
sys.path.insert(0, 'C:/Users/fruto/OneDrive/Escritorio/DATA SCIENCE COURSE/Funtions')
from MY_FUNCTION_EDA import *

In [6]:
data = pd.read_excel('../dataset/Sustainable_Development.xlsx')
data

,Country Name,countryName,EFConsPerCap,HDI,Population,Unnamed: 5,Unnamed: 6
0,Afghanistan,Afghanistan,0.8,0.3,"12,249,100.00",NaN,NaN
1,Albania,Albania,1.79,0.64,"3,281,450.00",NaN,NaN
2,Algeria,Algeria,1.37,0.58,"25,912,400.00",NaN,NaN
3,Argentina,Argentina,3.04,0.71,"32,729,700.00",NaN,NaN
4,Australia,Australia,8.02,0.87,"17,041,400.00",NaN,NaN
...,...,...,...,...,...,...,...
119,Zambia,Zambia,1.01,0.42,"8,027,250.00",NaN,NaN
120,Belgium,Belgium,6.91,0.81,"9,953,910.00",NaN,NaN
121,Luxembourg,Luxembourg,12.87,0.79,"434,424.00",NaN,NaN
122,China,China,1.49,0.5,"1,198,880,000.00",NaN,NaN
123,World,World,2.63,0.6,"5,330,939,904.00",NaN,NaN

AttributeError: 'DataFrame' object has no attribute 'year'